table {
    font-family: monospace;
    border-collapse: collapse;
    width: 100%;
}
tb, th { 
    border: 1px solid #000000;
    text-align: center;
    padding: 10px;
    
}
table, th, td {border: 3px solid black;}
#tr1 {
    font-size: 32px;
    color: palevioletred;
}
#tr2 {
    font-size: 24px;
   
}
#tr3 {
    font-size: 32px;
    color: green;
}

#floppa {font-size: 32px;}

#hello {background-color: crimson;}